-#Score.recompute_all_tmp_totals
-#Score.recompute_all_rankings

.text-center
  .card.mt-2.p-1.pt-3.bg-dark.border-dark.text-info
    %h1 
      %b 
        =fa_icon "tachometer-alt"
        Tableau de bord
  .row
    .col-sm-12.col-md-4.px-md-1.pl-md-3
      .card.mt-2.border-dark
        .card-header.bg-dark.border-dark
          .row
            .col-4
              %h2.text-info
                %b=Performance.all.count
            .col-8.pt-3.text-left
              .pt-1.text-white attributions de trophée
        .card-body{:style=>"height:350px;"}
          = chartjs_doughnut_chart @perf_by_player_data, @perf_by_player_options
          
          
    .col-sm-12.col-md-4.px-md-1
        
      .card.mt-2.border-dark
        .card-header.bg-dark.border-dark
          .row
            .col-4
              %h2.text-info
                %b=@still_locked_trophies.count
            .col-8.pt-3.text-left
              .pt-1.text-white trophées jamais débloqués
        .card-body{:style=>"height:350px;overflow:scroll;"}
          %p
            -@still_locked_trophies.each do |t|
              =link_to t do
                =fa_icon 'trophy'
                =t.name
                =fa_icon 'trophy'
                %br

    .col-sm-12.col-md-4.px-md-1.pr-md-3
        
      .card.mt-2.border-dark
        .card-header.bg-dark.border-dark
          .row
            .col-4
              %h2.text-info
                %b=Trophy.active.count
            .col-8.pt-3.text-left
              .pt-1.text-white trophées disponibles
        .card-body{:style=>"height:350px;"}
                  
          
          
          = chartjs_doughnut_chart @unlocked_trophies_data, @unlocked_trophies_options

      
  .row
    .col-12
        
      .card.mt-2.border-dark
        .card-header.bg-dark.border-dark.text-white
          Ratio cafés
        .card-body
          
          
          
          = chartjs_bar_chart @kf_ratio_data, @kf_ratio_options

        .card-footer.bg-dark.border-dark.text-white
          .row
            .col-6
              =@rentables.count>1 ? "Joueurs les plus rentables" : "Joueur le plus rentable"
              .text-info
                %b
                  =@rentables.keys.to_sentence
                %br
                %b="+#{@rentables.values.first} cafés"
            .col-6
              =@pasrentables.count>1 ? "Joueurs les moins rentables" : "Joueur le moins rentable"
              .text-info
                %b
                  =@pasrentables.keys.to_sentence
                %br
                %b="#{@pasrentables.values.first} cafés"
            

  .row
    .col-sm-12.col-md-4.px-md-1.pl-md-3
      .card.mt-2.border-dark
        .card-header.bg-dark.border-dark
          .row
            .col-4
              %h2.text-info
                %b=Game.all.count
            .col-8.pt-3.text-left
              .pt-1.text-white parties jouées
        .card-body{:style=>"height:350px;"}
          = chartjs_doughnut_chart @player_by_game_data, @player_by_game_options
          
    .col-sm-12.col-md-4.px-md-1
      .card.mt-2.border-dark
        .card-header.bg-dark.border-dark
          .pt-1.text-white Temps moyen
        .card-body.bg-dark.border-dark.p-0{:style=>"height:95px;"}
          %h2.text-info.mb-0
            %b
              = (mean(Game.all.map{|g| g.gametime_maths})/60).round
              Minutes
        .card-header.bg-dark.border-dark
          .pt-1.text-white Partie la plus courte
        .card-body.bg-dark.border-dark.p-0{:style=>"height:94px;"}
          %h2.text-info.mb-0
            %b
              = (Game.all.map{|g| g.gametime_maths}).min/60
              Minutes
        .card-header.bg-dark.border-dark
          .pt-1.text-white Partie la plus longue
        .card-body.bg-dark.border-dark.p-0{:style=>"height:95px;"}
          %h2.text-info.mb-0
            %b
              = (Game.all.map{|g| g.gametime_maths}).max/60
              Minutes
    .col-sm-12.col-md-4.px-md-1.pr-md-3
      .card.mt-2.border-dark
        .card-header.bg-dark.border-dark
          .row
            .col-4
              %h2.text-info
                %b=Trophy.where(:technical_name=>"victory").first.performances.count
            .col-8.pt-3.text-left
              .pt-1.text-white Victoriiies
        .card-body{:style=>"height:350px;"}
          = chartjs_doughnut_chart @victories_by_player_data, @victories_by_player_options
          