.card
  .card-header.bg-white.text-center
    %h2.pt-2
      %b= @player.name
  .card-body
    %h4.card-title
        
    .row  
      .col-4
        .card.border-dark
          .card-header.bg-dark.text-white
            PARTIES JOUEES
          .card-body.text-center
            %h2= @player.games.count
      .col-4
        .card.border-primary
          .card-header.bg-primary.text-white
            DERNIERE PARTIE
          .card-body.text-center
            %h2= l(@player_last_game.created_at, :format=>:short)
            %img{:class=>"img-fluid", :src=> "http://#{request.host}#{@player_last_game.recap_image_path}"}
            =link_to "Game Recap", game_recap_path(@player_last_game), :class=>"pull-right"
      .col-4
        .card.border-info
          .card-header.bg-info.text-white
            CE MOIS CI
          .card-body.text-center
            %h2="#{@this_month_games.count} partie(s)"
  .card-footer.bg-white
    .flex-row
      = link_to 'Retour', players_path, :class=>"card-link btn btn-secondary"
      = link_to 'Modifier', edit_player_path(@player), :class=>"pull-right card-link btn btn-info"
      
