.card.border-dark
  .card-header.bg-dark.text-center.text-white
    %h2.pt-2
      %b= @player.name
  .card-body
    %h4.card-title
        
    .row  
      .col-md-4.col-sm-12.mt-1
        .card.border-secondary
          .card-header.bg-secondary.text-white
            PARTIES JOUEES
          .card-body.text-center.bg-secondary.text-white
            %h3= @player.games.count
      .col-md-4.col-sm-12.mt-1
        .card.border-primary
          .card-header.bg-primary.text-white
            DERNIERE PARTIE
          .card-body.text-center.bg-primary.text-white
            -if @player_last_game.nil?
              .muted{:style=>"margin-top:20px;"}
                %small.text-light
                  Aucune partie
                  %br/
                  %br/
                
            -else
              %h3=link_to l(@player_last_game.created_at, :format=>:short), game_recap_path(@player_last_game), :class=>"text-white"
      .col-md-4.col-sm-12.mt-1
        .card.border-info
          .card-header.bg-info.text-white
            CE MOIS CI
          .card-body.text-center.bg-info.text-white
            %h3="#{@this_month_games.count} partie(s)"
            
            
            
  .card-footer.bg-dark.text-white.pt-4.pb-5
    %h3.text-center.pb-3 Trophées débloqués
    .row
      -@player.performances.group(:trophy_id).count.each do |t, count|
        .col-lg-2.col-md-4.col-6.text-center.pb-2
          .card.bg-danger.pt-3.text-center{"data-content" => Trophy.find(t).description, "data-toggle" => "popover", "data-placement" => "top", "data-trigger" => "focus", :role => "button", :tabindex => "0"}
            =fa_icon 'trophy 2x'
            %p
              =Trophy.find(t).name
              -if count>1
                %span.badge.badge-light=count
  
  .card-footer.bg-white
    .flex-row
      = link_to 'Retour', players_path, :class=>"card-link btn btn-secondary"
      
      = link_to 'Modifier', edit_player_path(@player), :class=>"pull-right card-link btn btn-info d-none d-lg-block"
      
