
.card.border-dark
  .card-header.bg-dark.text-white
    %h4.card-title.text-center Trophies
  
  .card-body
    %table.table.table-striped#trophies_table
      %thead
        %tr.bg-dark.text-white
          %th Name
          %th Technical Name
          %th Description
          %th Positive
          %th Active
          %th.nosort
    
      %tbody.text-dark
        - @trophies.each do |trophy|
          %tr
            %td= trophy.name
            %td= trophy.technical_name
            %td= trophy.description
            %td.text-center
              - case trophy.positive
                -when "bien" 
                  %small.badge.badge-sm.badge-success Bon
                -when "neutre" 
                  %small.badge.badge-sm.badge-secondary Neutre
                -when "pasbien" 
                  %small.badge.badge-sm.badge-danger Mauvais
            %td{:class=>trophy.active ? "table-success" : "table-secondary"}= trophy.active ? "Yes" : "Nope"
            %td
              .btn-group
                = link_to trophy, :class=>"btn btn-secondary" do
                  =fa_icon 'eye'
                = link_to edit_trophy_path(trophy), :class=>"btn btn-secondary" do
                  =fa_icon 'edit'
                -unless trophy.active
                  = link_to trophy, method: :delete, data: { confirm: 'Etes-vous sur?' }, :class=>"btn btn-secondary" do
                    =fa_icon 'trash'
  .card-footer
    
    = link_to 'Nouveau Trophy', new_trophy_path, :class=>"card-link btn btn-primary"
    = link_to 'Matrice joueurs/trophées', matrice_path, :class=>"card-link btn btn-primary"
    
    = button_to trophies_recompute_all_path, :class=>"d-none d-lg-block card-link pull-right btn-sm btn btn-danger", 'data-disable-with' => fa_icon("spinner spin ").html_safe, data: { confirm: 'Etes-vous sur? Cliquez uniquement si vous comprenez ce que vous faites.' } do
      =fa_icon 'warning'
      Tout recalculer pour toutes les parties
      =fa_icon 'warning'
  :javascript
      $(document).ready( function () {
        $('#trophies_table').DataTable({
          'paging': true,
          'pageLength': 20,
          'lengthChange': false,
          "info": true,
          'aoColumnDefs': [{
            'bSortable': false,
            'aTargets': ['nosort']
          }]
        });
      } );