
.card.border-dark
  .card-header.bg-dark.text-white
    %h4.card-title.text-center Trophies
  
  .card-body
    %table.table.table-striped#trophies_table
      %thead
        %tr.bg-dark.text-white
          %th Name
          %th Technical Name
          %th Description
          %th Active
          %th.nosort
    
      %tbody.text-dark
        - @trophies.each do |trophy|
          %tr
            %td= trophy.name
            %td= trophy.technical_name
            %td= trophy.description
            %td{:class=>trophy.active ? "table-success" : "table-secondary"}= trophy.active ? "Yes" : "Nope"
            %td
              .btn-group
                = link_to trophy, :class=>"btn btn-secondary" do
                  =fa_icon 'eye'
                = link_to edit_trophy_path(trophy), :class=>"btn btn-secondary" do
                  =fa_icon 'edit'
                -unless trophy.active
                  = link_to trophy, method: :delete, data: { confirm: 'Etes-vous sur?' }, :class=>"btn btn-secondary" do
                    =fa_icon 'trash'
  .card-footer
    
    = link_to 'Nouveau Trophy', new_trophy_path, :class=>"card-link btn btn-primary"
  :javascript
      $(document).ready( function () {
        $('#trophies_table').DataTable({
          'paging': false,
          "info": false,
          'aoColumnDefs': [{
            'bSortable': false,
            'aTargets': ['nosort']
          }]
        });
      } );