.card.border-dark.mb-3
  .card-header.bg-dark.text-center.text-white
    %h2.pt-2
      =fa_icon "trophy"
      %b= @trophy.name
  
  .card-body
    %p.card-text 
      %p
        %b.text-primary Name:
        = @trophy.name
      %p
        %b.text-primary Technical name:
        = @trophy.technical_name
      %p
        %b.text-primary Active ?
        = @trophy.active ? "Yep" : "Nope"
      %p
        %b.text-primary Description:
        = @trophy.description
  .card-footer.bg-dark.text-white
    .pt-3.pb-0.h5 
      Détenu par:
      .row.performances_div.px-2.pt-2
        -@trophy.performances.group(:player).count.each do |p, count|
          -perf_games_html=capture_haml do
            -perfs_games=Game.where(:id=>@trophy.performances.where(:player=>p).pluck(:game_id))
            -perfs_games.each do |g|
              ="#{g.title}"
              ="<br/>" unless perfs_games.last==g
              
          .col-sm-12.col-md-4.m-0.p-0

            -if count>1
              .card.bg-dark.text-center.m-2{"data-html"=>"true","data-template"=>'<div class="popover popover-info border-info bg-info" role="tooltip"><div class="arrow border-info bg-info"></div><h3 class="popover-header"></h3><div class="popover-body"></div></div>', "data-content" => perf_games_html.html_safe, "data-toggle" => "popover", "data-placement" => "top", "data-trigger" => "focus", :role => "button", :tabindex => "0"}

                .card-body
                  =p.name
                  %br
                    %span.badge.badge-info.text-dark=count
            -else
              .card.bg-dark.text-center.m-2
                .card-body
                  =p.name
                  %br
                  %small.text-info=perf_games_html.html_safe
              
          
    

.flex-row
  = link_to 'Retour', :back, :class=>"btn btn-secondary d-lg-none"
  = link_to 'Retour', trophies_path, :class=>"btn btn-secondary d-none d-lg-inline-block"
  = link_to 'Modifier', edit_trophy_path(@trophy), :class=>"pull-right card-link btn btn-info d-none d-lg-block"
