
.card.card-body
  %h4.card-title Nouvelle partie
  .card-text
    =form_tag game_step_1_path, :id=>"playerchoiceform" do
      .field.text-center
        =label_tag 'location', 'Lieu'
        %br/
        =text_field_tag 'location', 'MK'
      %br/
      .field.text-center
        =label_tag 'select_players', 'Feuille de match'
        %br/
        .btn-group-vertical.select_players_group{"data-toggle" => "buttons"}
          
          -Player.all.each do |p|
          
            .btn.btn-info.btn-lg{:style=>"cursor:pointer;"}
              = check_box_tag 'players_ids[]', p.id
              &nbsp;
              = h p.name
              %span.position_nb.text-info
                &nbsp;
              .hidden
                = number_field_tag "position[#{p.id}]", '1', class: 'special_input', disabled: true, :style=>"display:none;"
      .text-center
        = link_to new_game_wizard_path, :class=>"btn btn-sm btn-secondary", 'data-disable-with' => fa_icon("spinner spin ").html_safe, :style=>"margin-top:8px;", :id=>"reset_players" do
          reset
      %br/

      =button_tag "C'est parti", :class=>"creategamebtn btn btn-block btn-lg btn-secondary", :type=>"submit", :disabled=>"disabled", 'data-disable-with' => fa_icon("spinner spin ").html_safe


  .flex-row
    = link_to 'Annuler', root_path


        
:javascript
  //npa = next position available
  var npa=1;
  function checkPlayers(){
    condition_presence=false;

    //CONDITION PRESENCE
    if($("#playerchoiceform input[type='checkbox']:checked").length >=2){ 
      condition_presence=true;
    }
    
    if (condition_presence==true){
      $(".creategamebtn").attr( "class", "creategamebtn btn btn-block btn-lg btn-primary" );
      $(".creategamebtn").prop( "disabled", false );
    }
    else{
      $(".creategamebtn").attr( "class", "creategamebtn btn btn-block btn-lg btn-secondary" );
      $(".creategamebtn").prop( "disabled", true );
    }
  }
  
  $("#playerchoiceform .btn :input").change(function (playerinput){

    checkPlayers();
    id_player=playerinput.target.value
    // $(playerinput.target.parentNode).find(".position_nb")[0].innerHTML=npa;
    $("#position_"+id_player).val(npa)
    $("#position_"+id_player).prop( "disabled", false );
    npa++;
  });
