!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "yes", :name => "apple-touch-fullscreen"}/
    %meta#extViewportMeta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no", :name => "viewport"}/
    
    %link{:href => "/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/
    %link{:href => "/favicon.ico", :rel => "icon", :type => "image/x-icon"}/
    %link{:href => "/app_icon.png", :rel => "apple-touch-icon"}/
    %title TheFullMontee
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => "reload"
    = javascript_include_tag 'application', 'data-turbolinks-track' => "reload"
    = csrf_meta_tags
  
    %link{:href => "https://fonts.googleapis.com/css?family=Lato", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Muli", :rel => "stylesheet"}/

    = javascript_tag "window._token = '#{form_authenticity_token}'" 
  %body#page-top{:style=>""}

    / Navigation
    - if user_signed_in?
      %nav#mainNav.navbar.navbar-expand-lg.navbar-light.static-top
        .container
          =link_to "TheFullMontee", root_path, :class=>" navbar-brand js-scroll-trigger"
          -#%a.navbar-brand.js-scroll-trigger Backoffice ChatBot
          // %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarResponsive", "data-toggle" => "collapse", :type => "button"}
          //   Menu
          //   %i.fa.fa-bars
          #navbarResponsive.collapse.navbar-collapse
            %ul.navbar-nav.ml-auto
            
              %li.nav-item= link_to 'NEW', new_game_wizard_path, :class=>"nav-link"
              %li.nav-item= link_to 'Games', games_path, :class=>"nav-link"
              %li.nav-item= link_to 'Rounds', rounds_path, :class=>"nav-link"
              %li.nav-item= link_to 'Scores', scores_path, :class=>"nav-link"
              %li.nav-item= link_to 'Players', players_path, :class=>"nav-link"
              %li.nav-item= link_to 'Déconnexion', destroy_user_session_path, :method=>'delete', :class=>"nav-link"
              
    %section
      .container{:style=>"-webkit-overflow-scrolling: touch;"}
        =yield
      
    

    // %footer
    //   .container
    //     %p © 2017 TheFullMontee by MeGusa
    //     %ul.list-inline
    //       %li.list-inline-item
    //         Environnement de dev
    //       %li.list-inline-item
    //         Version 0.1.102
